*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Futura;
    color: white;
    background-color: #333;
}

.login-content h2{
    text-align: center;
    align-content: center;
    font-size: 35px;
}

.login-content{
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #272D2D;
    width: 400px;
    height: auto;
    border-radius: 20px;
}

.user-box{
    position: relative;
    margin-top: 40px;
    color: #23CE6B;
}

.user-box input{
    outline: none;
    color: white;
    font-family: Segoe UI;
    font-weight: 100;
    font-size: 24px;
    border: none;
    border-bottom: solid 1px #23CE6B;
    background: none;
    width: 100%;
    height: 38px;
    align-content: center;
}

.user-box label{
    color: white;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.user-box input:focus ~ label, .user-box input:valid ~ label{
    font-size: 12px;
    color: #23CE6B;
    top: -7px;
}

.user-options{
    margin-top: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.user-options a{
    width: fit-content;
    font-family: Segoe UI;
    text-decoration: none;
    color: #6A7A7A;
}

.user-options a:hover{
    color: #23CE6B;
}

.login-content button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    font-family: Futura;
    padding: 5px;
    font-size: 20px;
    border-radius: 4px;
    background-color: transparent;
    color: #23CE6B;
    border: solid 1px #23CE6B;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: .3s;
}

.login-content button:hover{
    width: 100%;
    background-color: #23CE6B;
    color: white;
}
